omit=optional
fund=false
audit=false
strict-peer-dependencies=false
legacy-peer-deps=true
optional=false
shamefully-hoist=true
@rollup:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
engine-strict=false 